<footer class="footer-wrapper">
    <div class="container footer_container">
        <div class="row">
            <div class="col-12 col-md-6">Widget Area one</div>
            <div class="col-12 col-md-6">Widget Area two</div>
        </div>
    </div>
</footer>